{% extends "base.html" %}

{% block title %}Add Stat | i-DAT Reports{% endblock %}
  	          
{% block nav %}
		<li><a href="/project/{{project_ID}}/">Back</a></li>
{% endblock %}
  	          
  	          
{% block ui %}
{% endblock %}

  	    
  	    
{% block content %}
	
		<form enctype="multipart/form-data" method="post" action=".">
		<fieldset>
			<legend>Add Stat</legend>
			{% csrf_token %}
			{{stat_form}}
			<br/><button type="submit" class="btn btn-primary btn-large">Add Stat</button>
			</fieldset>
		</form>
  	        
{% endblock %}
    
{% block modals %}    
    
    
{% endblock %}
    
{% block pageScripts %}

{% endblock %}