{% extends "base.html" %}

{% block title %}i-DAT Reports{% endblock %}
  	          
{% block nav %}
		<li class="active"><a href="/">I-DAT Reports</a></li>
{% endblock %}
  	          
  	          
{% block ui %}
  	 	<li><a href="project/add/">Add Project</a></li>
{% endblock %}

  	    
  	    
{% block content %}
	
	<div class="row">
	{% for project in project_list %}
		<div class="span3">
			<a href="project/{{project.pk}}/"><img src="{{MEDIA_URL}}{{project.logo}}" alt="{{project.name}}"></a>
		</div>
	{% endfor%}
	</div>
  	        
{% endblock %}
    
{% block modals %}    
    
    
{% endblock %}
    
{% block pageScripts %}
<script type="text/javascript">
    
</script>
{% endblock %}